body {
    font-family: $font-stack;
    margin: 0;
    padding: 0;
    
}
nav{
    margin-left: 10em;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 2em;
    background-color: $primary-color;
    color: $text-color;
}
nav ul li a{
    text-decoration: none;
   color:$text-color; 
}
input {
    border: solid 0.5px lightgray;
    width: 100%;
    padding: 5px;
}
