.gallery {
    display: grid;
    //grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    column-gap: 1em;
    row-gap: 0.5em;
}
footer {
    width:300px;
    margin: auto;
    background-color: $primary-color;
    padding: 10px 0;
    text-align: center;
    @include flex-center;
}
.social-icons a {
    margin: 0 10px;
}
